/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth; 
  }
}
:root{
	--nav-bgcolor: #f1f1f1;
	--nav-color: #000000;
	--list-bgcolor: #f1f1f1;
	--list-bordercolor: #262729;
	--list-item-bgcolor: #f1f1f1;
	--list-item-a-bgcolor: #f1f1f1;
	/*Button*/
	--bars-color:#000000;
	--cancel-color:#f1f1f1;
	--cancel-bgcolor:#262729;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*===Font size ===*/ 

.logo a h1{
	font-size: 1.3em;
}
.footer{
	font-size:0.8em; 
}
#link1 .name{
	font-size: 1.5em;
}
#link1 .study{
	font-size: 3em;
}
#link1 .know-more{
	font-size: 1em;
}
section .topic{
	font-size: 1.5em;
}
section .explanation{
	font-size: 1em;
}
.skill-flex-container .description p{
	font-size:0.8em; 
}
/*===Navigation===*/
nav{
	color: var(--nav-color); /*Adjust color*/
	background-color: var(--nav-bgcolor); /*Adjust color*/
	padding: 0.5em 1.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	min-height: 3em;/*link height must have to be same as this height*/
	position: fixed;
	width: 100%;
	top:0;
	font-family: 'Ubuntu', sans-serif;
}

/*Logo*/
.logo>a{
	display: flex;
	flex-direction: row;
	gap: .5em;
	align-items: center;
	text-decoration: none;
	color: black;
}
img{
	width: 2em;
	height: 2em;
}

/*Total List*/
.move{
	background-color: rgba(0,0,0,0.5); /*Adjust color*/
	position: fixed;
	left: -100%;
	top:0;
	height: 100vh;
	width: 100%;
}
.list-container {
  width: 70%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--list-bgcolor); /*Adjust color*/
  border-right: 2px solid var(--list-bordercolor); /*Adjust color*/
}
.list-item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: var(--list-item-bgcolor); /*Adjust this*/
}
.list-item > div {
  width: 100%;
}
.list-item > div a{
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
	color: black;
	font-variant: small-caps;
	background-color: var(--list-item-a-bgcolor); /*Adjust this*/
	border-bottom: 1px solid var(--list-bordercolor); /*Adjust this*/	
}
.list-item > div a:hover{
	color: var(--list-item-a-bgcolor); /*Adjust this*/
	background-color: var(--list-bordercolor); /*Adjust this*/
}

/*Button*/
nav label.button{
	font-size: 20px;
	cursor: pointer;	
}
nav label.bars{
	color: var(--bars-color);
}
.cross{
	padding: 1em 1em 0 1em;
	display: flex;
	justify-content: flex-end;
	
}
nav label.cancel{
	color: var(--cancel-color);
	background-color: var(--cancel-bgcolor); 
	padding: 0.5em 0.8em;
}

/*Check*/
#check{
	display: none;
}
#check:checked~label.bars{
	display: block;
}
#check:checked~label.cancel{
	display: block;
}
#check:checked~label.move{
	left:0;
}

/*==Scroll watcher==*/
.scroll-watcher{
	height: 0.3em;
	position: fixed;
	top:0;
	z-index: 1000;
	background-color: green;
	width: 100%;
	scale: 1 1;
	transform-origin: left;
	animation: scroll-watcher linear;
	animation-timeline: scroll();
}

@keyframes scroll-watcher{
  to {scale: 0 1;}
}
/*==Main==*/
main{
	background-color: white;	
	margin: auto;
	text-align: center;

}
section{
	padding: 6em 0;
	font-family: 'Poppins', sans-serif;
	border-bottom: 1px solid black;
}
section .topic{
	font-weight: 600;
}
section .explanation{
	font-style: italic;
	padding: 1em;
}
/*===Home===*/
#link1{
	padding-top: 10em;
	height: 100vh;
	min-height: 35em;
	background-image: url("https://images.unsplash.com/photo-1559730775-67f621597262?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	text-shadow: 3px 3px 5px black;
}
#link1 .name{
	font-style: italic;
}
#link1 .study{
	font-style: bold;
	padding: 1em;
}
#link1 .know-more{
	text-transform: uppercase;
}
#link1 .know-more a{
	text-decoration: none;
	color: white;
	display: inline-block;
	background-color: green;
	padding: .5em;
	border-radius: 10px;
}
/*===Skills===*/
.skill-flex-container{
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding: 3em 6em;
}
.skill-flex-container div{
	text-align: center;
	padding: .5em;

}
 .skill-flex-container .skill-item{
	width: 20em;
	min-width: 18em;
	border: 1px solid black; 
 }
.skill-flex-container .icon{
	font-size: 3em;
	color: white;
	border-bottom: 5px double #003300;
}
.skill-flex-container .bottom-border{
	border-top: 5px double #003300;
}
.skill-flex-container .icon i{
	background-color: green;
	padding: 0.5em;
	border-radius: 48%;
}
.skill-flex-container .description h3{
	font-weight: 600;
}
/*===Portfolio===*/
.project-flex-container{
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 1em;
	padding: 3em 6em;
}
.project-flex-container .project-item a{
	text-decoration: none;
	color: black;
}
 .project-flex-container .project-item{
	width: 20em;
	height: 20em;
	min-width: 18em;
	border: 1px solid black; 
	border-radius: 10px;
	text-align: center;
 }
 
 .project-flex-container .project-item .pic{
	 height: 70%;
 }
 
 .project-flex-container .project-item .pic img{
	 width: 100%;
	 height: 100%;
	 border-radius: 10px 10px 0 0;	 
 }
 .project-flex-container .description{
	 height: 30%;
	 background-color: green;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 border-top: 5px double #003300;
	 border-radius: 0 0 10px 10px;
 }
 .project-flex-container .description h3{
	font-weight: 600;
}
/*===About===*/
/*===Curriculum vitae===*/
/*===Contact===*/
.contact-flex-container{}
#link6{
	background-image: url("https://cdn.pixabay.com/photo/2016/03/26/13/09/cup-of-coffee-1280537_640.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}

/*==Footer==*/
.footer{
	color: #ffffff;
	background-color: black;
	padding: 15px;
	font-family: 'Ubuntu', sans-serif;
}
.copyright_text a{
	text-decoration: none;
	color: #ffffff;
}
/*=====Responsive Web Design=====*/
/* ===Extra small devices (phones, 600px and down) ===*/
@media only screen and (max-width: 600px) {}

/* ===Small devices (portrait tablets and large phones, 600px and up) ===*/
@media only screen and (min-width: 600px) {

/*==Body==*/
.scroll-watcher{
	background-color: red;
}
}

/* ===Medium devices (landscape tablets, 768px and up)=== */
@media only screen and (min-width: 768px) {
/*==Scroll watcher==*/
.scroll-watcher{
	background-color: blue;
}

/*===Font size ===*/
 .logo a h1{
	font-size: 1.5em;
}
.footer{
	font-size:1em;
}
#link1 .name{
	font-size: 2em;
}
#link1 .study{
	font-size: 4em;
}
#link1 .know-more{
	font-size: 1.2em;
}
section .topic{
	font-size: 2em;
}
section .explanation{
	font-size: 1.3em;
}
.skill-flex-container .description p{
	font-size:1em; 
}

/*==Body==*/

/*===Skills===*/
.skill-flex-container{
	justify-content: space-between;
	padding: 3em;
}
/*===Portfolio===*/
.project-flex-container{
	padding: 3em;
}
/*===About===*/
/*===Curriculum vitae===*/
/*===Contact===*/
}

/* ===Large devices (laptops/desktops, 992px and up)=== */
@media only screen and (min-width: 992px) {
/*==Scroll watcher==*/
.scroll-watcher{
	background-color: pink;
}
/*===Navigation Bar ===*/
nav{
	padding:0 0 0 1.5em;
}
.move{
	background-color: rgba(0,0,0,0);
	position: static;
}
.list-container {
  width: auto;
  height: auto;
  position: static;
  border-right: none; /*Adjust this*/
}
.list-item {
  flex-direction: row;
  gap: .1em;
  padding: 0;
}
.list-item > div a{
	
	border-bottom: none; /*Adjust this*/
	line-height: 3em; /*This must have to be same as nav height*/
	padding: 0.5em 2em;
}
.cross, .button{
	display: none;
}

/*Check*/
#check:checked~label.bars{
	display: none;
}
#check:checked~label.cancel{
	display: none;
}

/*==Body==*/

/*===Skills===*/
.skill-flex-container, .project-flex-container{
	padding: 3em 6em;
}
/*===Portfolio===*/
/*===About===*/
/*===Curriculum vitae===*/
/*===Contact===*/
}

/* ===Extra large devices (large laptops and desktops, 1200px and up)=== */
@media only screen and (min-width: 1200px) {
/*==Scroll watcher==*/
.scroll-watcher{
	background-color: black;
}
/*==Body==*/

}
	
